.parent {
    display: flex;
    height: 500px;
    background-color: grey;
    /*перенос блоков*/
    flex-wrap: wrap;
    /*выравниивание по-горизонтали*/
    /* justify-content: center; */

    /*выравнивание по-вертикали*/
    /* align-items: center; */
    /* align-items: flex-start; */

    /*порядок отображения элементов*/
    /* flex-direction: column-reverse; */

    /*выравнивание внутри родителя*/
    /* align-content: space-between; */
}

.block {
    background-color: yellow;
    border: 1px solid black;
}

.block-1 {
    flex:1;
    order:1;
}
.block-2 {
    flex:2;
    order:2;
}
.block-3 {
    flex-basis: 100px;
    order:1;
}
